// MultiSelect.scss
.multi-select {
    position: relative;
  
    &__selected-items {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
  
    &__selected-item {
      background-color: #3498db;
      color: #fff;
      padding: 4px 8px;
      border-radius: 4px;
      cursor: pointer;
    }
  
    &__input {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-top: 8px;
      width: 100%;
  
      &:focus {
        outline: none;
        border-color: #3498db;
      }
    }
  }
  